* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.monitor-tooltip {
    position: absolute;
    padding: 5px 10px;
    background-color: #303133;
    border-radius: 4px;
    border: 1px solid #303133;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    min-width: 10px;
}

.monitor-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #303133 transparent transparent transparent;
}